extends layout

block css
  link(rel='stylesheet', href='/stylesheets/styleChat.css')

block content
  .body-container
    header
      nav
    main
      .chatroom-dialogs-container#chatroom-dialogs-container
        button.add-chatroom-dialog#add-chatroom-dialog bæta við spjallherbergi
        each val in rows
          if val.user === val.chatroom_owner
            .chatroom-dialog.chatroom-dialog-owner(data-name=val.chatroom, data-owner=val.chatroom_owner)
              .chatroom-dialog-title=val.chatroom
          else
            .chatroom-dialog.chatroom-dialog-user(data-name=val.chatroom, data-owner=val.chatroom_owner)
              .chatroom-dialog-title=val.chatroom
      #chat-container.chat-container
    footer
      a#logout-anchor(href="#")
        | Útskráning

block scripts
  script(src="/scripts/logoutHandler.js")
  script(src="/scripts/chatrooms.js")
  script(src="/scripts/messaging.js")
